/* styling for body */
body{
    background-color: #f5fbef;
    color: black;
    font-family: cursive;
}

/* container styling */
.container {
    width: 80%;
    margin: auto;
}

/* header */
header {
    background-color: #69140e;
    min-height: 70px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

/* nav elements */
header a {
    color: whitesmoke;
    text-decoration: none;    
}

header ul{
    padding: 0;
    margin-top: 15px;
    font-size: 17px;
}

header li{
    float: left;
    display: inline-block;
    padding: 0 10px 0 10px;
}


nav{
    margin: 15px;
    float: right;
}

nav a.active{
    color: lime;   
}

header #logo h1{
    float: left;
    margin-left: 15px;
}

header #logo .logo-custom {
    color: lime;
}

header #logo {
    float: left;
    font-family: cursive;
}

article#main-content{
    width: 65%;
    float: left;
}

#main-content img{
    height: 200px;
    width: 200px;
}

aside#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
}

aside#side-image{
    width: 60%;
    float: right;
    margin-top: 85px;
}

/* main styling */
#main{
    margin-top: 25px;
}

/* serviec container styling */
.service-container p a{
    text-decoration: none;
}


#services img{
    width: 1100px;
    height: 500px;
    margin-top: 80px;
}

figcaption{
    display: block;
}

article#main-content, aside#sidebar{
    margin-top: 75px;
}

article#about-us{
    float: left;
    font-family: cursive;
    margin-top: 75px;
    width: 35%;
}

section#party-guidelines{
    margin-top: 95px;
}

/* sign up button */
#sign-up {
    position: fixed;
    top: 45%;
    right: 0;
    font-size: 20px;
    height: 100px;
    width: 80px;
    background-color: #bad9b5;
    
}

/* services section styling */
#services{
    width: 60%;
}

#services-img{
    margin-top: 70px;
    width: 100%;
}

/* grid styling */
.grid, .price-grid {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    margin-top: 80px;
}

.grid img {
    width: 300px;
    height: 200px;
}

.grid a{
    text-decoration: none;
}

.grid figure figcaption{
    text-align: center;
}

/* styling for price list grid */
.price-grid {
    margin-top: 100px;
}

.price-grid img{
    width: 400px;
    height: 300px;
    padding: 15px 15px 15px 15px;
}

/* sign up form styling */
#signup-form{
    margin-top: 30px;
}

#signup-form button{
    background-color: #bad9b5;
    font-size: 20px;
}

#signup-form button:hover{
    background-color: lime;
}


/* styling for footer */
footer {
    min-height: 125px;
    background-color: #2d3142;
    color: #fff;
    width: 100%; 
    overflow: hidden;
    
}

footer p{
    margin-top: 50px;
    float: right;
    text-align: center;
    padding: 0;
}



/* styling for contact details of footer */
#contact{
    float: left;
    margin-left: 25px;
    margin-top: 15px;
}
