body{
    background-color: #f5fbef;
    color: black;
    font-family: cursive;
}

.container {
    width: 80%;
    margin: auto;
}

/* header */
header {
    background-color: #69140e;
    min-height: 70px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

/* nav elements */
header a {
    color: whitesmoke;
    text-decoration: none;    
}

header ul{
    padding: 0;
    margin-top: 15px;
    font-size: 17px;
}

header li{
    float: left;
    display: inline-block;
    padding: 0 10px 0 10px;
}

nav{
    margin: 15px;
    float: right;
}

header #logo h1{
    float: left;
    margin-left: 15px;
}

header #logo .logo-custom {
    color: lime;
}

header #logo {
    float: left;
    font-family: cursive;
}

article#main-content{
    width: 65%;
    float: left;
}

aside#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
}

aside#side-image{
    width: 60%;
    float: right;
    margin-top: 85px;
}

#main{
    margin-top: 25px;
}


figcaption{
    display: block;
}

article#main-content, aside#sidebar{
    margin-top: 75px;
}

article#about-us{
    float: left;
    font-family: cursive;
    margin-top: 75px;
    width: 35%;
}

/* sign up button */
#sign-up {
    position: fixed;
    top: 45%;
    right: 0;
    font-size: 20px;
    height: 100px;
    width: 80px;
    background-color: #bad9b5;
    
}

/* styling for footer */
footer {
    min-height: 125px;
    background-color: #2d3142;
    color: #fff;
    width: 100%; 
    overflow: hidden;
    
}

footer p{
    margin-top: 50px;
    float: right;
    text-align: center;
}

#contact{
    float: left;
    margin-left: 25px;
    margin-top: 15px;
}
